# macOS system file
.DS_Store

# Environment variables
.env

# Node.js dependencies
node_modules/

# Backup or copied folders
urban-app-101 copy/

# Python cache and build artifacts
__pycache__/
*.pyc

# ML models and datasets
*.pkl
*.csv

# Jupyter notebooks (ignore all for now, can allow later if needed)
*.ipynb

# VS Code and editor settings
.vscode/
